---
import Layout from "../layouts/root-layout.astro";
---

<Layout title="Sobre Nosotros">
  <div class="navbar w-full border-b bg-base-100">
    <div class="navbar-start">
      <a type="button" class="btn btn-ghost" href="/" title="SecureNet">
        <img class="h-8 w-8" src="/logo2.svg" alt="Redes" />
      </a>
    </div>
    <div class="navbar-end">
      <a class="btn" href="/">Inicio</a>
    </div>
  </div>

  <main class="px-5">
    <div class="mx-8 flex min-h-[calc(100vh-4rem)] items-center justify-center">
      <div class="flex flex-col items-center">
        <h1 class="text-4xl font-bold text-transparent bg-clip-text bg-gradient-to-r from-blue-500 via-green-500 to-purple-500 animate-gradient-x">
          Nuestro Equipo
        </h1>
        <div class="mt-16 grid grid-cols-2 grid-rows-2 gap-8">

          <div
            class="flex w-64 flex-col items-center justify-center gap-4 rounded-badge border p-5"
          >
             <a href="https://www.linkedin.com/in/santanamay-jonatanjafet" class="avatar">
      
              <div class="ring-red-500 ring-offset-base-100 w-24 rounded-full ring ring-offset-2">
                <img src="https://scontent.fcjs3-1.fna.fbcdn.net/v/t39.30808-6/450939172_2844620709027679_4011678557429900096_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=6ee11a&_nc_eui2=AeGHtYB4gpankHukQ7XPVLt5gEurUNrFSFWAS6tQ2sVIVccgG05QYcxilUeHqL_x9YKfwB7BgevZiPBx368Lsq9N&_nc_ohc=_kYfCqOHCncQ7kNvgF7xhCy&_nc_zt=23&_nc_ht=scontent.fcjs3-1.fna&_nc_gid=A-eqPBKZ4fO86eNdv4q2bod&oh=00_AYAqjsdRQR8VVMLBQj0Lm92ypZKhzbQ39gpm_dTqjKyJug&oe=6743084B" />
              </div>
            </a>
            <span class="text-center">Jonatan Jafet Santana May</span>

          </div>


          <div
            class="flex w-64 flex-col items-center justify-center gap-4 rounded-badge border p-4"
          >
            <div class="avatar">
              <div class="ring-primary ring-offset-base-100 w-24 rounded-full ring ring-offset-2">
                <img src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp" />
              </div>
            </div>
            <span class="text-center">Emiliano</span>
          </div>


          <div
            class="flex w-64 flex-col items-center justify-center gap-4 rounded-badge border p-4"
          >
            <div class="avatar">
              <div class="ring-primary ring-offset-base-100 w-24 rounded-full ring ring-offset-2">
                <img src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp" />
              </div>
            </div>
            <span class="text-center"
              >Freddy</span
            >
          </div>


          <div
            class="flex w-64 flex-col items-center justify-center gap-4 rounded-badge border p-4"
          >
            <div class="avatar">
              <div class="ring-primary ring-offset-base-100 w-24 rounded-full ring ring-offset-2">
                <img src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp" />
              </div>
            </div>
            <span class="text-center">Horacio</span>
          </div>

        </div>
      </div>
    </div>
  </main>
</Layout>
